*{
    margin: 0;
}
body {
    text-align: center;
    /* background-image: url("image/pic.jpg");
    background-size: cover; */
  
}

  

.container{
    border-style: solid;
    border-color: blue;
    margin: 40px;
    padding: 50px;
}
h1{
    margin-bottom: 40px;  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px; 
    color: rgb(54, 54, 55);
}
h2{
    margin-bottom: 40px;   
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(54, 54, 55);
}

.time{
    margin-bottom: 40px;
    font-size: 120px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(54, 54, 55);
    font-weight: bold;
}

.start{
    font-size: large;
    margin: 10px;
    padding-left: 20px ;
    padding-right: 20px ;
    padding-top: 10px ;
    padding-bottom: 10px ;
    color: white;
    background-color: green;
    border-style: solid;
    border-color: green;
    border-radius: 5px;
}

.stop{
    font-size: large;
    margin: 10px;
    padding-left: 20px ;
    padding-right: 20px ;
    padding-top: 10px ;
    padding-bottom: 10px ;
    color: rgb(255, 255, 255);
    background-color: blue;
    border-style: solid;
    border-color: blue;
    border-radius: 5px;
}

.reset{
    font-size: large;
    margin: 10px;
    padding-left: 20px ;
    padding-right: 20px ;
    padding-top: 10px ;
    padding-bottom: 10px ;
    color: rgb(255, 255, 255);
    background-color: red;
    border-style: solid;
    border-color: red;
    border-radius: 5px;
}

.start:hover {
    background-color: rgb(255, 255, 255);
    color: green;
}

.stop:hover {
    background-color: rgb(250, 250, 250);
    color: blue;
}

.reset:hover {
    background-color: rgb(255, 255, 255);
    color: red;
}
footer{
    color: rgb(118, 118, 118);
    position: absolute;
    bottom: 0px;
    margin-left: 500px;
}

@media only screen and (max-width: 768px) {
    h1{
        margin-bottom: 40px;  
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px; 
        color: rgb(54, 54, 55);
    }
    h2{
        margin-bottom: 40px;   
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(54, 54, 55);
    }

    .time{
        margin-bottom: 20px;
        font-size: 50px;
        font-weight: bold;
    }
    .container{
        border-style: none;
        border-color: black;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 40px;
        padding: 10px;
        padding-top: 10px;
        padding-bottom: 60px;
    }
    .start{
        font-size: large;
        margin: 6px;
        padding-left: 14px ;
        padding-right: 14px ;
        padding-top: 6px ;
        padding-bottom: 6px ;
        border-style: solid;
        border-color: green;
        border-radius: 5px;
    }
    .stop{
        font-size: large;
        margin: 6px;
        padding-left: 14px ;
        padding-right: 14px ;
        padding-top: 6px ;
        padding-bottom: 6px ;
        border-style: solid;
        border-color: blue;
        border-radius: 5px;
    }
    .reset{
        font-size: large;
        margin: 6px;
        padding-left: 14px ;
        padding-right: 14px ;
        padding-top: 6px ;
        padding-bottom: 6px ;
        border-style: solid;
        border-color: red;
        border-radius: 5px;
    }
    footer{
        color: rgb(118, 118, 118);
        position: absolute;
        bottom: 0px;
        margin: 80px;
    }
    }

